POSTGRES_DB=java_basecamp
POSTGRES_USER=java_basecamp
POSTGRES_PASSWORD=change-this-in-production
APP_PORT=3000
DB_PORT=5432
SESSION_DAYS=30
COOKIE_SECURE=false
# Set to the public HTTPS origin when deployed, for example:
# APP_ORIGIN=https://learn.example.com
# PUBLIC_APP_URL=https://learn.example.com
# DB_SSL=true
# DB_SSL_REJECT_UNAUTHORIZED=true
